@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

:root {
  /* Catppuccin Latte */
  --rosewater: oklch(0.7141 0.1045 33.1);
  --flamingo: oklch(0.6856 0.1259 20.87);
  --pink: oklch(0.7256 0.1739 338.43);
  --mauve: oklch(0.5547 0.2503 297.02);
  --red: oklch(0.5505 0.2155 19.81);
  --maroon: oklch(0.6252 0.1967 20.27);
  --peach: oklch(0.692 0.2041 42.43);
  --yellow: oklch(0.714 0.1494 67.78);
  --green: oklch(0.625 0.1772 140.44);
  --teal: oklch(0.6023 0.0981 201.1);
  --sky: oklch(0.682 0.1448 235.38);
  --sapphire: oklch(0.6477 0.1068 212.89);
  --blue: oklch(0.5586 0.2255 262.09);
  --lavender: oklch(0.6638 0.1751 273.13);
  --text: oklch(0.4355 0.043 279.33);
  --subtext-1: oklch(0.492 0.0385 279.3);
  --subtext-0: oklch(0.5471 0.0343 279.08);
  --overlay-2: oklch(0.6009 0.0305 278.69);
  --overlay-1: oklch(0.6536 0.0269 278.12);
  --overlay-0: oklch(0.7077 0.0237 274.6);
  --surface-2: oklch(0.7584 0.0205 273.15);
  --surface-1: oklch(0.8083 0.0174 271.2);
  --surface-0: oklch(0.8575 0.0145 268.48);
  --base: oklch(0.9578 0.0058 264.53);
  --mantle: oklch(0.9335 0.0087 264.52);
  --crust: oklch(0.906 0.0117 264.51);

  --background: var(--base);
  --foreground: var(--text);
  --card: var(--base);
  --card-foreground: var(--text);
  --popover: var(--base);
  --popover-foreground: var(--text);
  --primary: var(--lavender);
  --primary-foreground: var(--base);
  --secondary: var(--surface-2);
  --secondary-foreground: var(--text);
  --muted: var(--surface-0);
  --muted-foreground: var(--subtext-0);
  --accent: var(--lavender);
  --accent-foreground: var(--base);
  --destructive: var(--red);
  --border: var(--surface-0);
  --input: var(--surface-0);
  --ring: var(--lavender);
  --chart-1: var(--lavender);
  --chart-2: var(--mauve);
  --chart-3: var(--pink);
  --chart-4: var(--teal);
  --chart-5: var(--peach);
  --radius: 0;
  --sidebar: var(--mantle);
  --sidebar-foreground: var(--text);
  --sidebar-primary: var(--lavender);
  --sidebar-primary-foreground: var(--base);
  --sidebar-accent: var(--lavender);
  --sidebar-accent-foreground: var(--base);
  --sidebar-border: var(--surface-0);
  --sidebar-ring: var(--lavender);
}

.dark {
  /* Catppuccin Mocha */
  --rosewater: oklch(0.9226 0.0238 30.49);
  --flamingo: oklch(0.8797 0.0418 17.98);
  --pink: oklch(0.87 0.0752 336.3);
  --mauve: oklch(0.7871 0.1187 304.77);
  --red: oklch(0.7556 0.1297 2.76);
  --maroon: oklch(0.7821 0.0903 8.85);
  --peach: oklch(0.8237 0.1015 52.63);
  --yellow: oklch(0.9193 0.0704 86.53);
  --green: oklch(0.8577 0.1092 142.72);
  --teal: oklch(0.8585 0.0792 182.75);
  --sky: oklch(0.8467 0.0833 210.25);
  --sapphire: oklch(0.7906 0.0965 228.65);
  --blue: oklch(0.7664 0.1113 259.88);
  --lavender: oklch(0.8166 0.091 277.31);
  --text: oklch(0.8787 0.0426 272.28);
  --subtext-1: oklch(0.8168 0.0403 272.86);
  --subtext-0: oklch(0.751 0.0396 273.93);
  --overlay-2: oklch(0.6865 0.0374 274.73);
  --overlay-1: oklch(0.6176 0.0367 276);
  --overlay-0: oklch(0.5497 0.0345 277.1);
  --surface-2: oklch(0.4765 0.034 278.64);
  --surface-1: oklch(0.4037 0.032 280.15);
  --surface-0: oklch(0.324 0.0319 281.98);
  --base: oklch(0.2429 0.0304 283.91);
  --mantle: oklch(0.2155 0.0254 284.06);
  --crust: oklch(0.1828 0.0204 284.2);
}

@theme inline {
  --font-sans: "JetBrains Mono Variable", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-sans bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}
